<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h1>{{'main.helloWorld' | translate}}</h1>
      <p>{{'main.text' | translate}}</p>
    </div>
  </div>
  <div class="container">
    <h2>List of things</h2>
    <div>
      <button class="btn btn-success" ng-click="mainVm.getThings()">{{'main.show' | translate}}</button>
      <ul>
        <li ng-repeat="thing in mainVm.thingsList">
          name: {{thing.name}}, description: {{thing.description}}
        </li>
        <li ng-if="mainVm.thingsList.length == 0">
          <strong>No results found...</strong>
        </li>
      </ul>
    </div>
  </div>
  <div class="container">
    <h2>Create a thing</h2>
    <div class="thing-form">
      <form role="form" name="thingPostForm" ng-submit="mainVm.postThing()" novalidate>
        <div class="form-group">
          <label for="name">{{'main.name.label' | translate}}</label>
          <input type="text" class="form-control" id="name" name="name" ng-model="mainVm.thing.name" placeholder="{{'main.name.placeholder'| translate}}">
        </div>
        <div class="form-group">
          <label for="description">{{'main.description.label' | translate}}</label>
          <input type="text" class="form-control" id="description" name="description" ng-model="mainVm.thing.description" placeholder="{{'main.description.placeholder'| translate}}">
        </div>
        <button type="submit" class="btn btn-success">{{'main.submit' | translate}}</button> {{mainVm.status}}
      </form>
    </div>
  </div>
</div>
<div>
  
  <h2>Contact list</h2>         
  <table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Number</th>
        <th>Action</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
        <tr>
          
          <td>  
             <input type="text" class="form-control" id="name" name="name" ng-model="mainVm.thing.name" placeholder="{{'main.name.placeholder'| translate}}">
       
          </td> 
          <td>
              <input type="text" class="form-control" id="description" name="description" ng-model="mainVm.thing.description" placeholder="{{'main.description.placeholder'| translate}}">
        
          </td>
          <td>
          <input type="text" class="form-control" id="number" name="number" ng-model="mainVm.thing.number" placeholder="{{'main.number.placeholder'| translate}}">
          </td>
          <td>
          <button class="btn btn-success" ng-click="mainVm.postThing()">Add Contact</button>
          </td>
          <td>
            <button class="btn btn-info" ng-click="">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ng-click="">Clear</button>
          </td>
         
        </tr>    
        
        <tr ng-repeat="thing in mainVm.thingsList">
            <td>{{thing.name}}</td>
            <td>{{thing.description}}</td>
            <td>{{contact.number}}</td>
            <td><button class="btn btn-danger" ng-click="mainVm.removeThing(thing._id)">Remove</button>
            </td>
            <td><button class="btn btn-warning" ng-click="">Edit</button></td>
            
        </tr>
    </tbody>
    </table>
     
</div>
</div>
